@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.mainSection {
  display: flex;
}

.left-container {
  /* background: blue; */
  background: #605bff;
  width: 844.99px;
  height: 1024px;
}
.logo {
  width: 82.82px;
  height: 22.04px;
  margin-left: 59px;
  margin-top: 54px;
  border: 6px;
}
.logo .vector {
  height: 30px;
  width: 81px;
  color: white;
  /* background: red; */
  position: absolute;
  top: 10%;
}
.base p {
  position: absolute;
  top: 342.37px;
  left: 20%;
  width: 205px;
  font-family: Montserrat;
  font-size: 72px;
  font-weight: 700;
  line-height: 88px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}
.social {
  position: absolute;
  top: 748px;
  left: 17%;
  justify-content: space-around;
}
.social img {
  width: 44px;
  height: 44px;
  color: #ffffff;
  margin-right: 38px;
}
.goggleStyle img {
  height: 15px;
  width: 17px;
  margin-top: 17px;
}
.split p {
  font-size: 15px;
  height: 15px;
  padding: -top;
  padding-bottom: 18px;
  margin-right: 10px;
  margin-left: 10px;
}
.style {
  background: white;
  height: 26px;
  width: 197px;
  cursor: pointer;
  /* text-align: center; */
  align-items: center;
  border-radius: 10px;
  margin-right: 10px;
}
.goggleStyle {
  margin-bottom: 12px;
  margin-left: 10px;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

/* right-side */

.container {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  /* width: 100%; */
  /* min-height: 100vh; */
  padding: 20px;
  margin-top: 165px;
  margin-left: 78px;
}

.signIn {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: -6px;
}
.yourAccount {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* max-width: 400px; */
  margin-top: 29px;
  background: rgba(255, 255, 255, 1);
  /* height: 390px; */
  width: 432px;
  border-radius: 20px;
}
.goggle {
  display: flex;
  margin-top: 32px;
}
.split {
  display: flex;
}

/* .card {
  margin: 34px;
} */
form label {
  margin: 34px 34px 16px 34px;
  height: 20px;
  width: 105px;
  line-height: 19.2px;
  font-size: 16px;
  font-family: "Lato";
  font-weight: 400;
}
form .password {
  margin: -8px 34px 16px 34px;
  height: 20px;
  width: 105px;
  line-height: 19.2px;
  font-size: 16px;
  font-family: "Lato";
  font-weight: 400;
}

form input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0px 34px 34px 34px;
  /* margin-bottom: 15px; */
  background: rgba(234, 234, 234, 1);
  /* color: white; */
}
.forgotPassword {
  margin-left: 34px;
  color: blue;
  font-size: 16px;
  font-style: "to";
  font-family: "Lato";
  margin-top: -10px;
  cursor: pointer;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: 700;
  background: rgba(96, 91, 255, 1);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* margin-bottom: 10px; */
  margin: 0 34px 34px 34px;
}
.account p {
  text-align: center;
  font-size: 16px;
  font-family: "Lato";
  font-weight: 400;
  color: grey;
  line-height: 19px;
}
.account span {
  color: blue;
  cursor: pointer;
}

button:hover {
  background-color: rgb(164, 161, 249);
}

#signup-btn {
  background-color: #007bff;
}

#signup-btn:hover {
  background-color: #0069d9;
}
